<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <!-- <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
      [disabled]="!selectedUsers || !selectedUsers.length" /> -->
  </ng-template>

  <ng-template #end>
    <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table #dt [value]="users()" [rows]="10" [columns]="cols" [paginator]="true"
  [globalFilterFields]="['name', 'email', 'created_at']" [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]">

  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Users</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th pSortableColumn="name" style="min-width:16rem">
        Name
        <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="email" style="min-width: 8rem">
        Email
        <p-sortIcon field="email" />
      </th>
      <th pSortableColumn="created_at" style="min-width: 12rem">
        Created At
        <p-sortIcon field="created_at" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>

  <ng-template #body let-user>
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="user" />
      </td>
      <td style="min-width: 16rem">{{ user.name }}</td>
      <td style="min-width: 16rem">{{ user.email }}</td>
      <td style="min-width: 12rem">{{ user.created_at | date:'fullDate'}}</td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editUser(user)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user)" />
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td style="text-align: center; height: 10rem; font-size: 1.5rem" colspan="5">
        No users found.
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="User Details" [modal]="true">
  <ng-template #content>
    <div class="flex flex-col gap-6">

      <!-- Username field-->
      <!-- <div class="mb-8">
        <p-icon-field>
          <p-float-label variant="on" class="w-full">
            <label for="name">Username</label>
            <input variant="outlined" pInputText id="name" name="name" formControlName="name"
              class="w-full md:w-[30rem] !p-4 !rounded-2xl" [pAutoFocus]="true"
              [ngClass]="{'ng-invalid ng-dirty': name?.invalid && name?.touched}" />
            <p-inputicon class="pi pi-user" />
          </p-float-label>

          <div class="w-full md:w-[30rem] mt-2">
            <p-message *ngIf="name?.invalid && name?.touched" severity="error" variant="simple" styleClass="w-full">
              <div class="w-full break-words">
                {{ name?.errors?.['required'] ? 'Username is required' :
                    name?.errors?.['minlength'] ? 'Minimum 3 characters required' : '' }}
              </div>
            </p-message>
          </div>
        </p-icon-field>
      </div> -->


      <!-- Pets field -->
      <!-- <div class="w-full mb-8">
        <p-multiselect [options]="dataPets" formControlName="pets" placeholder="Select Pets" optionLabel="name"
          styleClass="w-full !p-2 !rounded-2xl" display="chip"
          [ngClass]="{'ng-invalid ng-dirty': pets?.invalid && pets?.touched}">
          <ng-template let-pet #item>
            <div class="flex items-center gap-2">
              <div>{{ pet.name }}</div>
            </div>
          </ng-template>
          <ng-template #dropdownicon>
            <i class="pi pi-chevron-down"></i>
          </ng-template>
        </p-multiselect>
        <div class="w-full md:w-[30rem] mt-2">
          <p-message *ngIf="pets?.invalid && pets?.touched" severity="error" variant="simple" styleClass="w-full">
            <div class="w-full break-words">
              {{ pets?.errors?.['required'] ? 'Pets is required' : '' }}
            </div>
          </p-message>
        </div>
      </div> -->

    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveUser()" />
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmdialog [style]="{ width: '450px' }" />
