<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div
      style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">

        <p-toast></p-toast>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Username field-->
          <div class="mb-8">
            <p-icon-field>
              <p-float-label variant="on" class="w-full">
                <label for="name">Username</label>
                <input variant="outlined" pInputText id="name" name="name" formControlName="name"
                  class="w-full md:w-[30rem] !p-4 !rounded-2xl" [pAutoFocus]="true"
                  [ngClass]="{'ng-invalid ng-dirty': name?.invalid && name?.touched}" />
                <p-inputicon class="pi pi-user" />
              </p-float-label>

              <div class="w-full md:w-[30rem] mt-2">
                <p-message *ngIf="name?.invalid && name?.touched" severity="error" variant="simple" styleClass="w-full">
                  <div class="w-full break-words">
                    {{ name?.errors?.['required'] ? 'Username is required' :
                    name?.errors?.['minlength'] ? 'Minimum 3 characters required' : '' }}
                  </div>
                </p-message>
              </div>
            </p-icon-field>
          </div>

          <!-- Email field -->
          <div class="mb-8">
            <p-icon-field>
              <p-float-label variant="on" class="w-full">
                <label for="email">Email</label>
                <input variant="outlined" pInputText id="email" name="email" formControlName="email"
                  class="w-full md:w-[30rem] !p-4 !rounded-2xl"
                  [ngClass]="{'ng-invalid ng-dirty': email?.invalid && email?.touched}" />
                <p-inputicon class="pi pi-envelope" />
              </p-float-label>

              <div class="w-full md:w-[30rem] mt-2">
                <p-message *ngIf="email?.invalid && email?.touched" severity="error" variant="simple"
                  styleClass="w-full">
                  <div class="w-full break-words">
                    {{ email?.errors?.['required'] ? 'Email is required' :
                    email?.errors?.['email'] ? 'Please enter a valid email address' : '' }}
                  </div>
                </p-message>
              </div>
            </p-icon-field>
          </div>

          <!-- Password field -->
          <div class="mb-8">
            <p-float-label variant="on" class="w-full">
              <p-password formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                inputStyleClass="w-full md:w-[30rem] !p-4 !rounded-2xl" autocomplete
                [ngClass]="{'ng-invalid ng-dirty': password?.invalid && password?.touched}">
              </p-password>
              <label for="password">Password</label>
            </p-float-label>

            <div class="w-full md:w-[30rem] mt-2">
              <p-message *ngIf="password?.invalid && password?.touched" severity="error" variant="simple"
                styleClass="w-full">
                <div class="w-full break-words">
                  {{ password?.errors?.['required'] ? 'Password is required' :
                       password?.errors?.['minlength'] ? 'Minimum 8 characters required' :
                       password?.errors?.['pattern'] ? 'Password must include uppercase, lowercase, numbers and special characters' : '' }}
                </div>
              </p-message>
            </div>
          </div>

          <!-- Confirm Password field -->
          <div class="mb-8">
            <p-float-label variant="on" class="w-full">
              <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                inputStyleClass="w-full md:w-[30rem] !p-4 !rounded-2xl" autocomplete
                [ngClass]="{'ng-invalid ng-dirty': confirmPassword?.invalid && confirmPassword?.touched}">
              </p-password>
              <label for="password">Confirm Password</label>
            </p-float-label>

            <div class="w-full md:w-[30rem] mt-2">
              <p-message
                *ngIf="(confirmPassword?.invalid && confirmPassword?.touched) || (registerForm.hasError('passwordMismatch') && confirmPassword?.touched)"
                severity="error" variant="simple" styleClass="w-full">
                <div class="w-full break-words">
                  {{ confirmPassword?.errors?.['required'] ? 'Confirmation of password is required' :
                   registerForm.hasError('passwordMismatch') ? 'Passwords do not match' : '' }}
                </div>
              </p-message>
            </div>
          </div>

          <!-- Pets field -->
          <div class="w-full mb-8">
            <p-multiselect [options]="dataPets" formControlName="pets" placeholder="Select Pets" optionLabel="name"
              styleClass="w-full !p-2 !rounded-2xl" display="chip"
              [ngClass]="{'ng-invalid ng-dirty': pets?.invalid && pets?.touched}">
              <ng-template let-pet #item>
                <div class="flex items-center gap-2">
                  <div>{{ pet.name }}</div>
                </div>
              </ng-template>
              <ng-template #dropdownicon>
                <i class="pi pi-chevron-down"></i>
              </ng-template>
            </p-multiselect>
            <div class="w-full md:w-[30rem] mt-2">
              <p-message *ngIf="pets?.invalid && pets?.touched" severity="error" variant="simple" styleClass="w-full">
                <div class="w-full break-words">
                  {{ pets?.errors?.['required'] ? 'Pets is required' : '' }}
                </div>
              </p-message>
            </div>
          </div>

          <!-- Submit button -->
          <p-button label="Sign Up" styleClass="w-full" type="submit" [disabled]="registerForm.invalid"
            [loading]="loading"></p-button>
        </form>
      </div>
    </div>
  </div>
</div>
